<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>New Index</h1>
    <img src="https://storage.googleapis.com/wallet-fpt.appspot.com/AnhNen.jpg?GoogleAccessId=firebase-adminsdk-9ejw2%40wallet-fpt.iam.gserviceaccount.com&Expires=1893430800&Signature=Ws9D7dBknIq8Ja3ypEpqqMGj%2F5TpLBAalXaN1T102lqFnpsrL0D5oGgarZFE2ETgoD21m1cHF2hDZmcWPwcgfn1u1vqvUXOyR8iT1CeeTiXhGVgtrUcl3BtqpD59mrX8ma0l%2F2hwIBXrEIj5rN3hyASvgtesbCg12mvYQfDZxFLoYI2EVeMHiLPm0BMvseYZgBHibek8yZ05e8VncRlJoXvN%2Bfy2jTARJgWJkgkd6pYNnjf0LRvh6yGqGerUc4zrURzLIgPTVHhu1p3MMJRyK63twj8xERbWDuMk%2FbY4jA603U7g9VuCp0Lm1XmMKa7uc5n3ay8GaN8CHzJY8IU4rg%3D%3D"/>
</body>
</html>